@model ArtGallary.Models.Art.Account




	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="/Home/index">Home</a></li>
					<li><a href="/Home/login1">Login</a></li>
                    <li><a href="/Home/ForgetPassword">Forget Password</a></li>
                    <li><a href="/Home/AskQuestion">AskQuestion</a></li>
                    <li class="active">AskQuestion</li>

				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<h2>Enter Password</h2>
			</div>
			<div class="register-main">
                    @using(Html.BeginForm()){
                    @Html.LabelFor(Model=>Model.password)<br />
					@Html.TextBoxFor(Model => Model.password, null, new { @style = "width: 300px;height:50px;margin:20px", type = "password" })				
				    
         <div class="address submit">
                        <input type="submit" value="Submit" style="margin-bottom:20px;margin-left:7px;margin-top:20px;margin-right:20px" />
					</div>
    }
				<div class="col-md-6 account-left">
					
				</div>
				<div class="clearfix"></div>
			</div>
			
							
						
		</div>
	</div>
	<!--register-end-->
	
